<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

    <div id="main-container">
  <div id="header">
    <h1 style="color:#59E817">Shawna Bradley</h1>
    <h2>Web Designer</h2>
    <br clear="all"/>
  </div>

  <br clear="all"/>
  <div id="box"/>
    <div id="find-me"
      >Find me on
    </div>
      <div id="facebook"
      ><a href="https://www.facebook.com/angela.paige95"
        >Facebook</a>
      </div> 
        <div id="or"
          > or
        </div> 
          <div id="twitter">
          <a href="https://twitter.com/xxswampkittenxx">Twitter</a>
          </div>
    <br>
    <div id="or-email-me">Or email me at:</div>
    <div id="email">
      <a href="http://yahoo.com/mail" style="text-size:10px"/style>angela_baby96@yahoo.com</a>
    </div>
    
      {{ site.name }}
    {{ content }}
  </div>
  </div>
</div>    





    </body>
</html>
